---
name: pre-commit
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      RAW_LOG: pre-commit.log
      SKIP: no-commit-to-branch
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - run: python -m pip install pre-commit regex
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.cache/pre-commit/
          key:
            pre-commit-4|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml')
            }}
      - name: Run pre-commit hooks
        run: |
          set -o pipefail
          pre-commit gc
          pre-commit run --show-diff-on-failure --color=always --all-files | tee "${RAW_LOG}"
      - name: Provide log as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: ${{ ! cancelled() }}
        with:
          name: precommit-logs
          path: "${{ env.RAW_LOG }}" # Correct path definition
          retention-days: 2
